<div class="container">
  <p><%= @event.details %></p>

  <div class="row">
    <h2>Apply</h2>
      <%= link_to 'Join', organization_event_ev_memberships_path(0,@event), class:"btn btn-primary", method: :post %>
      <%= link_to 'Cancel', organization_event_ev_membership_path(0,@event), class:"btn btn-danger", method: :delete %>
  </div>
</div>
