<div class="container">
  <div class="col-lg-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Organization</th>
        </tr>
      </thead>
      <tbody>
        <% @organizations.each do |organization| %>
          <%# if organization.event.spots - organization.members.count > 0 %>
            <tr><td><%=link_to "#{organization.name}", organization_path(organization) %></td></tr>
          <%# else %>
            <!-- <tr class="danger"><td><%=link_to "#{organization.name}", organization_path(organization) %></td></tr> -->
          <%# end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6 col-lg-offset-2">
    <!-- <div style='width: 800px;'> -->
    <div id="map" class='well well-lg' style='height: 400px;'></div>
    <!-- </div> -->
  </div>
</div>
<div class="container">
</div>



<!-- script goes here -->

<script>
    handler = Gmaps.build('Google');
   handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
   markers = handler.addMarkers(<%=raw @hash.to_json %>);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
   });
</script>
